html{
    margin: 0;
}

body{
    margin-top: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-self: center;
    width:  100%;
    flex-wrap: wrap;
}

.header_container{
    display: flex;
    background-color: blue;
    padding: 10px 100px 50px 100px;
    flex-wrap: wrap;
    width: 100%;
}

.header_1{
    background-color: aquamarine;
    margin: 0;
    flex-grow: 1;
}

.header_2, .header_3, .header_4, .header_5, .header_6{
    background-color: blueviolet;
    margin: 10px;
}

.header_5{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 0;
}

.header_6{
    flex-grow: 1;
    background-color: gray;
}

.container_2{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.container_2_header{
    padding: 0 30%;
    width: 100%;
    text-align: center;
}

.image_card{
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
    text-align: center;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

img{
    width: 150px;
    height: auto;
    border-radius: 8px 8px 0 0;
}


.container_3{
    background-color: gray;
    text-align: center;
    padding: 50px;
    width: 100%;
}